footer {
    max-width: 1296px;
    margin: auto;
    padding: 64px 0px 0px 0px;
}

.getfoot {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.getfoot2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.getfoot3 {
    display: flex;
    justify-content: space-between;
   gap: 15px;
}

#footerbox{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: start;
}



.footer-col {
   max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    font-weight: 20px;
}

@media (max-width: 1400px) and (min-width: 1000px) {
    #col6 {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto; 
        text-align: center;
        padding: 0 15px; 
    }

    .footer-col {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;

    .footer-col > h4 {
        text-align: center;
    }

    .footer-col > p {
        white-space: nowrap;
        text-align: center;
    }
}

}

@media (max-width:550px) and (min-width:400px){
    /* footer{
        display: none;
    } */
    #footerbox>div:nth-of-type(1){
        display: none;
    }
}

#footerbox>.footer-col>button {
  
    border-radius: 7px;
    border: 3px solid yellow;
    background-color: white;

}

ul {
    list-style: none;
}
.footer-col>ul>li{
    padding-bottom: 20px;
}

#footerbox>.footer-col>ul>li>a {
    color: black;
    text-decoration: none;
    
}

#footerbox>.footer-col>ul>li>a:hover {
    text-decoration: underline;
    text-decoration-color: #fccf40;
}



hr{
 max-width: 1296px;
 margin: auto;
  }
#footerlast {
  max-width: 1296px;
  padding: 15px;
  display: flex;
  justify-content: end;
}

#footerlast>span>a {
    color: black;
    text-decoration: none;
}

#footerlast>span>a:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
  

}

@media (max-width:500px){
    #col6{
        max-width: 80%;
        margin-left: 25px;
        text-align: left;
    }
}



